<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<ul>
		<li><a th:href="@{/variables/string/} +'Hola Andres'">/variables/string/Hola Andres</a></li>
		<li><a th:href="@{/variables/string/} +'Que tal John'">/variables/string/Que tal John</a></li>
		<li><a th:href="@{/variables/string/} +'Saludos Andres'+ '/' + 7">/variables/string/Saludos Andres</a></li>
		
		<li><a th:href="@{/variables/string/} +${titulo}+ '/' + 7">/variables/string/Saludos Andres</a></li>
	</ul>

</body>
</html>